= stylesheet_link_tag "zTreeStyle" 
= javascript_include_tag "lib/jquery.ztree.core-3.5.min"

.row-fluid
  .span12
    .navbar#section_nav
      .navbar-inner
        %ul.nav
          - @sections.each do |section| 
            %li{:class=>if params[:active] == section.id.to_s then "active"  end }
              =link_to section.name, "#section_#{section.id}", {"data-toggle" => "tab"}
    .row-fluid
      .span3
        .tab-content
          - @sections.each do |section| 
            .tab-pane{:class=>if params[:active] == section.id.to_s then "active"  end,:id=>"section_#{section.id}"}
              %ul{:id=>"s_#{section.id}_tree",:class=>"ztree",:style=>"width:95%; overflow:auto;"}
          #rMenu
            %ul.unstyled
              %li#m_add{:onclick=>"addTreeNode()"}创建子节点
      .span9
        %iframe{:id=>"nodeIframe",:frameborder=>0,:scrolling=>"auto",:width=>"100%",:height=>"600px",:src=>"#{new_node_path}"}
:javascript
  //设置form的section.id
  var section_id = "#{params[:active]}" 
  $('#section_nav a[data-toggle="tab"]').on('shown', function (e) {
    section_id = e.target.toString().split('#')[1].split("_")[1]
  })
   
  var zTree;
  var demoIframe;

  var setting = {
    view: {
      dblClickExpand: false,
      showLine: true,
      selectedMulti: false
    },
    data: {
      simpleData: {
        enable:true,
        idKey: "id",
        pIdKey: "pid",
        rootPId: ""
      }
    },
    callback:{
      onClick:function(event, treeId, treeNode) {
         $("#nodeIframe").attr("src","#{nodes_path}"+"/"+treeNode.id+"/edit") 
      },
      onRightClick: OnRightClick
     }
  };
  var zsnodes= eval('('+gon.nodes+')')
  


    //$(document).ready(function(){
       for(var section in zsnodes)
       {
         eval('var t_'+section+' = $("#'+section+'_tree")')
         eval('t_'+section+' = $.fn.zTree.init(t_'+section+', setting, zsnodes["'+section+'"]);')
       }
    //});
  //创建右键菜单
  function OnRightClick(event, treeId, treeNode) {
      if (!treeNode && event.target.tagName.toLowerCase() != "button" && $(event.target).parents("a").length == 0) {
       var zTree = $.fn.zTree.getZTreeObj(treeId);
        zTree.cancelSelectedNode();
        //showRMenu("root", event.clientX, event.clientY);
      } else if (treeNode && !treeNode.noR) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        zTree.selectNode(treeNode);
        showRMenu("node", event.clientX, event.clientY);
      }
   }

    function showRMenu(type, x, y) {
      $("#rMenu").css({"top":y+"px", "left":x+"px", "visibility":"visible"});

      $("body").bind("mousedown", onBodyMouseDown);
    }
    function hideRMenu() {
      if ($("#rMenu")) $("#rMenu").css({"visibility": "hidden"});
      $("body").unbind("mousedown", onBodyMouseDown);
    }
    function onBodyMouseDown(event){
      if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length>0)) {
        $("#rMenu").css({"visibility" : "hidden"});
      }
    }
    function addTreeNode() {
      hideRMenu();
      current_treeId = "s_"+section_id+"_tree"
      current_tree = $.fn.zTree.getZTreeObj(current_treeId);
      selected_node = current_tree.getSelectedNodes()[0]
      selected_nodeId = selected_node.id
      $("#nodeIframe").attr("src","#{new_node_path}"+"?parent_id="+selected_nodeId+"&section_id="+section_id) 
    }
    
 
